<div class="container">
    <div class="Jumbotron">
        <h1>Eat Da Burger!</h1>
    </div>
    <div class="row">
        <div class="col-md-6" id="uneaten-burgers">
            {{#each burgers}}
                {{#unless devoured}}
                    {{> burger-block burgerState=false}}
                {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6" id="eaten-burgers">
            {{#each burgers}}
                {{#if devoured}}
                    {{> burger-block burgerState=true}}
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>